@import "/src/main";
.item {
  width: 505px;
  height: 287px;
  border-radius: 9px;
  border: 1px solid #F4F6FA;
  padding: 25px 0 25px 25px;
  position: relative;
}
.title {
  width: 366px;
  margin-bottom: 15px;
  color: $mainColor;
  font-feature-settings: 'liga' off;
  font-family: $mainFamily;
  font-size: 40px;
  font-weight: 700;
}
.subtitle {
  width: 253px;
  color: $greyColor;
  font-feature-settings: 'liga' off;
  font-family: $mainFamily;
  font-size: 18px;
  font-weight: 400;
}
.textBlock {
  position: absolute;
  z-index: 2;
}
.photo {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}