@import "src/main";

.container {
  margin-bottom: 150px;
  position: relative;
  width: 100%;

}

.whole {
  display: flex;
  margin-left: 25vh;
  justify-content: space-between;
  align-items: center;

  .title {
    max-width: 540px;
    margin-top: 70px;

    h1 {
      color: #333;
      font-feature-settings: 'liga' off;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 76px; /* 126.667% */
      span {
        color: #4762FF;
      }
    }

    p {
      color: rgba(51, 51, 51, 0.80);
      font-feature-settings: 'liga' off;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      max-width: 456px;
      margin: 3vh 0 10vh 0;

      span {
        color: #4762FF;
        font-weight: bold;
      }

    }
  }

}

.questionWrapper {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 10px;
}

.logo {
  position: absolute;
  top: 30%;
  left: -180px;

  h2 {
    rotate: -90deg;
    font-size: 100px;

  }
}
@media screen and (max-width: 700px){
.whole{
  margin-left: 0;

  .title{
    margin-top: 0;

    h1{
      font-size: 30px;
      letter-spacing: normal !important;
      line-height: normal;
      width: 100%;
      display: flex;
      flex-direction: column;
      .letter{
        font-size: 20px;
        color: #333131;
        max-width: 300px;
        font-weight: lighter;
      }
    }
  }
}
  .image{
    display: none;
  }
}