.container {
  margin-left: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .title {
    max-width: 540px;
    margin-top: 169px;

    h1 {
      color: #333;
      font-feature-settings: 'liga' off;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 76px; /* 126.667% */
    }

    p {
      color: rgba(51, 51, 51, 0.80);
      font-feature-settings: 'liga' off;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 456px;
      margin: 16px 0;

    }
  }
}