.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  nav{
    display: flex;
    align-items: center;
    svg{
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 700px){

}