.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid dodgerblue;
  border-bottom: 1px solid dodgerblue;
  position: relative;
  justify-content: space-between;

  .imageWrapper {
    width: 50%;
    border-bottom: 1px solid dodgerblue;
    //height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    img {
      //max-width: 50%;
      width: 80%;
      height: auto;
      object-fit: cover;
    }
  }

  //img {
  //  //max-width: 50%;
  //  width: 50%;
  //  border-bottom: 1px solid black;
  //
  //
  //}

}

.line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: rgba(30, 144, 255, 0.51);
}