@import "/src/main";

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    padding: $headerPadding;
    //height: $headerHeight;
    position: absolute;
    top: 0;
    width: 100%;
  }

  main {
    margin-top: 137px;
  }
}