@import "/src/main";

.container{
  position: relative;
  header{
    background: $headerBgColor;
    height: $headerHeight;
    position: absolute;
    top: 0;
    width: 100%;
  }

  main {
    margin-top: 137px;
  }
}