@import "/src/main";

.whole {
  margin-bottom: 200px;
}

.title {
  color: $mainColor;
  text-align: center;
  font-feature-settings: 'liga' off;
  font-family: $mainFamily;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.subtitle {
  color: $greyColor;
  text-align: center;
  font-feature-settings: 'liga' off;
  font-family: $mainFamily;
  font-size: 18px;
  font-weight: 400;
}
.block {
  position: relative;
  height: 450px;
  padding: 45px;
  border-radius: 10px;
  border: 1px solid #4762FF;
  margin-top: 50px;
}

.items {
  gap: 25px;
  display: flex;
}

.btn {
  right: 30px;
  bottom: 20px;
  position: absolute;
  cursor: pointer;
  transition: .4s ease;
  gap: 10px;
  align-items: center;
  display: flex;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color:#4762FF;
  &:hover {
    transform: scale(1.1);
  }
}


