@import "/src/main";

.title {
  color: $mainColor;
  text-align: center;
  font-feature-settings: 'liga' off;
  font-family: $mainFamily;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.span {
  color: #4762FF;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}


th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  transition: .2s linear;
  background-color: #f2f2f2;
  &:hover {
    color: white;
    background-color:#4762FF;
  }
}

tr:nth-child(odd) {
  transition: .2s linear;
  background-color: #fff;
  &:hover {
    color: white;
    background-color:#4762FF;
  }
}

.input {
  width: 80%;
  margin: 50px auto;
}
.notFound {
  text-align: center;
  font-size: 28px;
  margin: 50px 0;
}
@media screen and (max-width: 700px){
.title{
  font-size: 25px;
}
}