@import "/src/main";
.block {
  background-color: #F4F4F4;
  width: 100%;
  padding-left: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.titleBlock {
  padding: 2rem ;
}
.title {
    width: 366px;
    margin-bottom: 35px;
    color: $mainColor;
    font-feature-settings: 'liga' off;
    font-family: $mainFamily;
    font-size: 40px;
    font-weight: 700;
}
.openingTimes {
  margin-top: 51px;
  color: $mainColor;
  font-size: 20px;
}
.currentDay {
  margin: 7px 5px;
  width: 10.5rem;
  border-bottom: 2px solid #4762FF; ;
}

@media screen  and (max-width: 700px){
.block{

  padding: 0;
}
  .title{
    font-size: 30px;
  }
  .titleBlock{
    padding: 0;
    h3{
      b{
        font-size: 15px;
      }
    }
  }
  .openingTimes{
    font-size: 16px;
  }
  .mapBlock{
    padding: 0;
    width: 100%;
    iframe{
      width: 100% !important;
      padding: 0;
      margin: 0;
    }
  }
}