@import "src/main";

.container {
  max-width: 100%;
  //margin: 0 auto;
  margin: 0;
  width: 100%;


  .nav {
    //margin-top: 30px;
    //max-width: $maxWidth;
    max-width: 1660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

}