.container {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  .form {
    background: white;
    position: absolute;
    right: 50px;
    padding: 50px;
    top:50px;
    width: 611px;
    height: 648px;
    flex-shrink: 0;
    border-radius: 15px;
    h1 {
      max-width: 350px;
      color: #333;
      font-feature-settings: 'liga' off;
      font-family: Inter;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p{
      margin-top: 10px;
      color: rgba(51, 51, 51, 0.80);
      font-feature-settings: 'liga' off;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

}
@media screen and (max-width: 700px){
  .container{
  }
.form{
  position: relative !important;
  top:0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.84) !important;
  //width: 100%;
  padding: 0;
  width: 90% !important;
  height:auto !important;
  margin: 0 auto;
  h1{
    font-size: 25px !important;
  }
  p{
    font-size: 16px !important;
  }


}
}