html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a {
  text-decoration: none;
  /*color: white;*/
  color: white;
}
ol,
ul,
li {
  list-style: none;
  /*list-style-type: none;*/
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 580px) {
  input, select {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
    font-size: 16px;
  }
}