@import "src/main";

.container {
  display: flex;
  gap: 46px;
  //width: 300px;
  max-width: 390px;
  margin: 15px 0;

  a {
    cursor: pointer;
    color: $mainColor;
    font-size: $fontSize;
  }
}