.container{
  display: flex;
  align-items: center;
  position: relative;
  h2{
    font-size: 30px;
    span{
      color: #4762FF;
    }
  }
  svg{
    margin: 0 5px;
  }
  .logo{
    img{
      //max-width: 250px;
    }
  }

}
.letter{

//font-size: 40px !important;
}
.link{
  color: #1A1A1A !important;
  position: relative;

}